<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StadisV4RProV9Plugin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<!--<connectionStrings>
		<add name="StadisV4RProV9Plugin.My.MySettings.STADIS_V3ConnectionString" connectionString="Data Source=STADIS1;Initial Catalog=STADIS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<connectionStrings>
  <add name="StadisV4RProV9Plugin.My.MySettings.STADIS_V3ConnectionString" connectionString="Data Source=STADIS1;Initial Catalog=STADISV3;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<userSettings>
		<!-- The WS settings are NOT stored here.  These are the templates to create them if they don't exist. -->
		<!-- After the first time the plugin runs, the actual settings are stored at: -->
		<!-- C:\Documents and Settings\<user name>\Local Settings\Application Data\Retail_Pro_International,\DefaultDomain_Path_<numbers>\<release>\user.config -->
		<StadisV4RProV9Plugin.My.MySettings>
   <setting name="OverrideSettingID" serializeAs="String">
    <value/>
   </setting>
   <setting name="StadisUserID" serializeAs="String">
    <value>Test1</value>
   </setting>
   <setting name="StadisPassword" serializeAs="String">
    <value>password</value>
   </setting>
   <setting name="Log" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NetworkChecking" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OPOSPrinterName" serializeAs="String">
    <value>Disabled</value>
   </setting>
   <setting name="RasterPrinterName" serializeAs="String">
    <value>Disabled</value>
   </setting>
   <setting name="WindowsPrinterName" serializeAs="String">
    <value>Disabled</value>
   </setting>
   <setting name="StadisWebServiceURL" serializeAs="String">
    <value>http://192.168.100.14/StadisV4Web/StadisV4Transactions.asmx</value>
   </setting>
   <setting name="SiteID" serializeAs="String">
    <value/>
   </setting>
   <setting name="VendorID" serializeAs="String">
    <value/>
   </setting>
   <setting name="LocationID" serializeAs="String">
    <value/>
   </setting>
   <setting name="RegisterID" serializeAs="String">
    <value/>
   </setting>
   <setting name="CashierID" serializeAs="String">
    <value/>
   </setting>
  </StadisV4RProV9Plugin.My.MySettings>
	</userSettings>
	</configuration>
